#titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}


#tituloibm{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnnewbook{
    margin-left: 48%;
}
